body {
	background-image: url("images/thor-hammer-pic.jpg!d");
	background-position: center;
}

.flash {
   animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: white;}
	to {color: #00ccff;}
}

#pageTitle {
	text-align: center;
	font-family: "Arial", sans-serif;
	font-variant: small-caps;
	text-shadow: 0 0 10px #000000;
	color: white;
}

#gameArea {
	margin-left: auto;
	margin-right: auto;
	display: block
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  height: 40px;
  width: 150px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-variant: small-caps;
}

#credits {
	text-align: center;
	width: 30%;
	margin: 5px auto;
	padding: 3px;
	color: #ffcc33;
	background-color: black;
	font-family: "Arial", sans-serif;
	font-variant: small-caps;
	border-radius: 10px;
}